@import "tailwindcss";

@layer base {
  :root {
    /* Light mode variables */
    --bg-primary: #f5f5f7;
    --bg-secondary: #ffffff;
    --bg-tertiary: #f9fafb;
    --text-primary: #000;
    --text-primary-hover: #000;
    --text-secondary: #5e5b5b;
    --text-secondary-hover: #a64ef3;
    --text-tertiary: #a64ef3;
    --text-tertiary-hover: #8200db;
    --text-quaternary: #6a7282;
    --border-primary: #d1d5dc;
    --border-primary-hover: #a64ef3;
    --border-primary-focus: #a64ef3;
    --border-secondary: #d1d5dc;
    --border-tertiary: #d1d5dc;
    --button-primary: #a64ef3;
    --button-text-primary: #ffffff;
    --button-text-primary-hover: #ffffff;
    --button-primary-disabled: #b679eb;
    --button-text-primary-disabled: #e4d9d9;
    --button-primary-hover: rgb(150, 51, 236);
  }
  .dark {
    /* Dark mode variables */
    --bg-primary: #0f172a;
    --bg-secondary: #1e293b;
    --bg-tertiary: #1e293b;
    --text-primary: #304458;
    --text-primary-hover: #000;
    --text-secondary: #94a3b8;
    --text-secondary-hover: #c27aff;
    --text-tertiary: #a64ef3;
    --text-tertiary-hover: #8200db;
    --border-primary: #d1d5dc;
    --border-primary-hover: #b472ee;
    --border-secondary: #d1d5dc;
    --border-tertiary: #d1d5dc;
  }
  body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    transition: background-color 0.3s, color 0.3s;
    font-family: Arial, Helvetica, sans-serif;
  }
}

@layer utilities {
  .bg-var-primary {
    background-color: var(--bg-primary);
  }
  .bg-var-secondary {
    background-color: var(--bg-secondary);
  }
  .bg-var-tertiary {
    background-color: var(--bg-tertiary);
  }

  .text-var-primary {
    color: var(--text-primary);
  }
  .text-var-primary-hover {
    color: var(--text-primary-hover);
  }
  .text-var-secondary {
    color: var(--text-secondary);
  }
  .hover\:text-var-secondary-hover:hover {
    color: var(--text-secondary-hover);
  }
  .text-var-tertiary {
    color: var(--text-tertiary);
  }
  .hover\:text-var-tertiary-hover:hover {
    color: var(--text-tertiary-hover);
  }

  .text-var-quaternary {
    color: var(--text-quaternary);
  }

  .border-var-primary {
    border-color: var(--border-primary);
  }
  .hover\:border-var-primary-hover:hover {
    border-color: var(--border-primary-hover);
  }
  .border-var-primary-focus:focus {
    border-color: var(--border-primary-focus);
  }
  .border-var-secondary {
    border-color: var(--border-secondary);
  }
  .border-var-tertiary {
    border-color: var(--border-tertiary);
  }
  .button-var-primary {
    background-color: var(--button-primary);
    color: var(--button-text-primary);
  }
  .button-var-primary-disabled {
    background-color: var(--button-primary-disabled);
    color: var(--button-text-primary-disabled);
    cursor: not-allowed; 
  }
  .hover\:button-var-primary-hover:hover {
    background-color: var(--button-primary-hover);
    color: var(--button-text-primary-hover); 
  }
}
